<h2>Начать игру</h2>

<div>
  <label for="name">Ваше имя </label>
  <input id="name" #name />

  <label for="link">Код для присоединения </label>
  <input id="link" #link />
  <button class="joinGame-button" (click)="joinGame(name.toString(), link.toString())">
    Присоединиться к игре
    <!--   TODO сервис для присоединения//-->
  </button>
</div>

<div>
  <button class="setSetupGame-button" (click)="setSetupGame()">
    Настроить свою игру
  </button>
  <app-game-setup [setupGame]="setupGame"></app-game-setup>

</div>


